$color-primary: #2196f3;
$color-primary-text: #212121;
$color-secondary-text: #757575;
$background-blue-dark: #2f303a;
$color-white: #ffffff;
$color-gray-with-shadow: rgba(117, 117, 117, 1);
$color-gray-footer: rgba(255, 255, 255, 0.6);
$color-team: #f5f4fa;
$background-color-features: #f5f4fa;
$color-gray-svg: #afb1b8;
