.cards {
  display: flex;
  gap: 25.5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &__tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: $color-secondary-text;
    margin-bottom: 0px;
  }
  &__container {
    padding: 20px 24px 18px 24px;
  }
  &__information {
    overflow: hidden;
    position: relative;
    width: 450px;
    height: 294px;
  }
  &__appear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $color-white;
    padding: 64px 24px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(110%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:focus &__appear {
    transform: translateY(0);
  }
}
.cards__tittle--no-margin {
  margin-bottom: 0;
}
.cards__item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 0px) / 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 418px;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .cards__appear {
    transform: translateY(0);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards {
    justify-content: flex-start;
  }
  .cards__item {
    flex-basis: calc((100% - 30px) / 2);
    width: 356px;
  }
  .cards__information {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .cards__item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    width: 373px;
  }
  .cards__information {
    width: 370px;
  }
}
