.footer {
  background-color: $background-blue-dark;
  text-align: center;
  &__container {
    padding: 60px 0px 60px 0px;
  }
  &__web {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $color-primary;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__space {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
    &__container {
      display: flex;
    }
    &__web {
      font-size: 26px;
      line-height: 1.192;
    }
  }
}
